
.color-chip {
  &.color-outside {
    border-color: #F5B07C !important;
    background-color: #FCE6D1 !important;
    color: #000 !important;
  }
  &.color-none {
    border-color: #999 !important;
    background-color: #efefef !important;
    color: #000 !important;
  }
  &.color-0 {
    border-color: #003C59 !important;
    background-color: #00567A !important;
    color: #fff !important;
  }
  &.color-1 {
    border-color: #74A8BC !important;
    background-color: #CFE0E8 !important;
    color:#34566A !important;
  }
  &.color-2 {
    border-color: #FFA2AC !important;
    background-color: #FFCDD2 !important;
    color: #A20F35 !important;
  }
  &.color-3 {   
    border-color: #FFA220 !important;
    background-color: #FFD688 !important;
    color: #942B0C !important;
  }
  &.color-4 {
    border-color: #B082FE !important;
    background-color: #E3D4FF !important;
    color: #5A21A8 !important;
  }
  &.color-5 { 
    border-color: #45BCA5 !important;
    background-color: #A7E8D8 !important;
    color: #1F665D !important;
  }
  &.color-6 {
    border-color: #A3BB5D !important;
    background-color: #E8F6BE !important;
    color: #5D7610 !important;
  }
  &.color-7 { 
    border-color: #AE8A48 !important;
    background-color: #D7B575 !important;
    color: #523A0E !important;
  }
  &.color-8 {
    border-color: #6D86E1 !important;
    background-color: #A1B1EC !important;
    color: #0E2472 !important;
  }
  &.color-9 { 
    border-color: #D759A3 !important;
    background-color: #EE9DCC !important;
    color: #722652 !important;
  }
  &.color-10 {
    border-color: #5DCA6A !important;
    background-color: #9DEEA6 !important;
    color: #2C6933 !important;
  }
  &.color-11 {
    border-color: #C4BB59 !important;
    background-color: #FAF5B8 !important;
    color: #746C1E !important;
  }
  &.color-12 {
    border-color: #7E81B5 !important;
    background-color: #BCBDD8 !important;
    color: #2E3492 !important;
  }
  &.color-13 {
    border-color: #CE8151 !important;
    background-color: #EBBC9F !important;
    color: #5E3318 !important;
  }
  &.color-14 {
    border-color: #AD6365 !important;
    background-color: #D2A7A8 !important;
    color: #7D393B !important;
  }
  &.color-15 {
    border-color: #F68B8E !important;
    background-color: #FFDBC7 !important;
    color: #AA3539 !important;
  }
  &.color-16 {
    border-color: #D34EE0 !important;
    background-color: #FADBFD !important;
    color: #9837A2 !important;
  }
  &.color-17 {
    border-color: #7C89C4 !important;
    background-color: #D6DDFD !important;
    color: #46538D !important;
  }
  &.color-18 {
    border-color: #64BA8D !important;
    background-color: #C1EDD6 !important;
    color: #386B50 !important;
  }
  &.color-19 {
    border-color: #49966D !important;
    background-color: #7AD7A6 !important;
    color: #205539 !important;
  }
  &.color-20 {
    border-color: #4E69D9 !important;
    background-color: #9DB0FF !important;
    color: #192D80 !important;
  }
  &.color-21 {
    border-color: #AE7415 !important;
    background-color: #FCB84A !important;
    color: #694710 !important;
  }
  &.color-22 {
    border-color: #C47159 !important;
    background-color: #F4C4B6 !important;
    color: #834431 !important;
  }
  &.color-23 {
    border-color: #AD8C33 !important;
    background-color: #F0D385 !important;
    color: #6F581B !important;
  }
  &.color-24 {
    border-color: #AA64B0 !important;
    background-color: #D6BED8 !important;
    color: #733678 !important;
  }
}
