/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.delivery-layout {
  /* prettier-ignore */
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  line-height: 1.5;
  color: #212529;
  background: #f0f0f0 !important;
  &:has(.toolbar.show) {
    .page-container {
      padding: 24px 366px 24px 40px;
    }
  }
}

.page-container {
  position: relative;
  width: 100%;
  height: calc(100vh - 75px); // 75px is gnb height
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 24px 40px 0;
  transition: padding 0.3s ease;
}

.main-container {
  position: relative;
  width: calc(100% - 40px - 40px);
  height: calc(100vh - 75px - 24px);
  bottom: 0;
  border-radius: 20px 20px 0px 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
}

/* 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInScale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
