/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.dms-layout {
  /* prettier-ignore */
  line-height: 1.5;
  color: #212529;
  background: #fafafa;
  min-width: 1024px;
  @media (max-width: 1023px) {
    min-width: 100%;
  }
  &:has(.toolbar.show) {
    .page-container {
      // padding: 24px 366px 0 40px;
      padding: 24px 40px 0 40px;
      @media (max-width: 1023px) {
        padding: 24px 20px 0 20px;
      }
    }
  }
}

.page-container {
  position: relative;
  width: 100%;
  // height: calc(100dvh - 60px); // 75px is gnb height
  height: 100dvh;
  display: flex;
  flex-direction: column;
  overflow: visible;
  padding: 24px 40px;
  transition: padding 0.3s ease;
  @media (max-width: 1023px) {
    padding: 24px 20px;
    height: 100dvh; /* 모바일에서 동적 뷰포트 높이 사용 */
  }
}
.gnb ~ .page-container {
  height: calc(100dvh - 60px); // 75px is gnb height
  padding: 24px 40px 0;
  @media (max-width: 1023px) {
    padding: 24px 20px 0;
    height: calc(100dvh - 60px); /* 모바일에서 동적 뷰포트 높이 사용 */
  }
}

/* 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeInScale {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}
