/* Side Panel */
.side-panel {
  position: fixed;
  right: -100%;
  top: 75px;
  width: calc(100% - 326px);
  height: calc(100vh - 75px);
  background: #f6f6f6;
  box-shadow: -2px 0 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  transition: right 0.3s ease;
  padding: 24px 24px 0 40px;
  overflow: hidden;
  &.show {
    right: 326px;
    transition: right 0.3s ease;
  }
  &-wrapper {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    & > .d-flex {
      margin-bottom: 20px;
    }
  }
  &-title {
    color: #000;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; /* 150% */
    margin: 0;
    padding: 0;
  }
  &-roundbox {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 33px);
    padding: 24px 32px;
    border-radius: 20px 20px 0px 0px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    .filter-area {
      display: flex;
      flex-direction: column;
      gap: 16px;
      > div {
        display: flex;
        gap: 20px;
        > div {
          flex: 1;
          &:first-child {
            flex: 1.5;
          }
        }
      }
      > .row > .col-12 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  &-status {
    display: flex;
    gap: 20px;
    padding: 0 0 18px 0;
    flex-wrap: wrap;
    > div {
      width: calc(25% - 60px / 4);
      @media (max-width: 1292px) {
        width: calc(50% - 10px);
      }
    }
    + .side-panel-roundbox {
      padding: 24px;
      height: calc(100% - 24px - 143px);
    }
  }
  &-scrollable {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: calc(100% + 7px);
    height: calc(100% - 38px - 16px);
    padding: 0 7px 23px 0;
    margin-right: 7px;
    overflow: auto;
    justify-content: flex-start;
    align-content: flex-start;
    > div {
      width: calc(33.3333% - 40px / 3);
      &.management-card.type1 {
      }
    }
    .color-chip {
      width: 16px;
      height: 16px;
      border-radius: 4px;
      border: 2px solid #000;
      background-color: #000;
      margin: 0;
    }
    /* 스크롤바 디자인 */
    &::-webkit-scrollbar {
      width: 6px;
      height: 6px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #c0c0c0;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    /* Firefox */
    // scrollbar-width: thin;
    // scrollbar-color: #C0C0C0 transparent;
  }

  .counter-area {
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 16px 0 0;
    strong {
      color: #000;
      font-weight: 700;
    }
  }
  #auditLogsGrid,
  #employeesGrid {
    width: 100%;
    height: calc(100% - 80px - 32px);
    flex: 1;
    overflow: visible;
  }
}
