@use './_functions' as *;
@use './_variables' as *;
@use './_mixins' as *;

* {
  box-sizing: border-box;
}

.inner {
  width: 100%;
  // max-width: rem(1320);
  max-width: rem(1480);
  margin: 0 auto;
  padding: 0 rem(24);

  @include tablet {
    padding: 0 rem(80);
    &:has(.app-swiper-container) {
      padding: 0;
    }
    &:has(.overview-section-content) {
      padding: 0;
    }
  }

  @include desktop {
    padding: 0 rem(80);
    &:has(.app-swiper-container) {
      padding: 0;
    }
    &:has(.overview-section-content) {
      padding: 0;
    }
  }
}

// Typography Classes
.headline-01 {
  @include headline-01;
}

.headline-02 {
  @include headline-02;
}

.sub-headline-01 {
  @include sub-headline-01;
}

.sub-headline-02 {
  @include sub-headline-02;
}

.body-01 {
  @include body-01;
}

.body-02 {
  @include body-02;
}

.body-03 {
  @include body-03;
}

.footer-nav {
  @include footer-nav;
}

:global(.a11y-hidden) {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

// 스킵네비게이션 포커스 시 헤더 드롭다운 위치 조정
:global(.cnx-layout.skip-link-focused .gnb-dropdown-menu) {
  @include desktop {
    top: rem(138) !important; // 헤더 높이(90) + 스킵네비게이션 높이(48)
  }
}
