@use './_functions' as *;
@use './_variables' as *;
@use './_mixins' as *;

.the-header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: rem(57);
  background-color: $p-dark-green;
  z-index: 1000;

  @include tablet {
    height: rem(60);
  }

  @include desktop {
    height: rem(90);
  }
}
