/* Concentrix Mixins */

@use './_variables' as *;

/* rem */
@function rem($px) {
  @return calc($px / 16 * 1rem);
}

/* vw - pc 기준 */
@function vw($px) {
  @return calc(($px * 100) / 1920 * 1vw);
}

/* media Query */
@mixin tablet {
  @media all and (min-width: #{$tab}){
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: #{$pc}){
    @content;
  }
}

// Typography Mixins
@mixin headline-01 {
  font-size: $font-size-h1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  height: $bbox-h1-mobile;
  
  @include tablet {
    font-size: $font-size-h1-tablet;
    height: $bbox-h1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-h1-desktop;
    height: $bbox-h1-desktop;
  }
}

@mixin headline-02 {
  font-size: $font-size-h2-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  height: $bbox-h2-mobile;
  
  @include tablet {
    font-size: $font-size-h2-tablet;
    height: $bbox-h2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-h2-desktop;
    height: $bbox-h2-desktop;
  }
}

@mixin sub-headline-01 {
  font-size: $font-size-sh1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  height: $bbox-sh1-mobile;
  
  @include tablet {
    font-size: $font-size-sh1-tablet;
    height: $bbox-sh1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-sh1-desktop;
    height: $bbox-sh1-desktop;
  }
}

@mixin sub-headline-02 {
  font-size: $font-size-sh2-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  height: $bbox-sh2-mobile;
  
  @include tablet {
    font-size: $font-size-sh2-tablet;
    height: $bbox-sh2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-sh2-desktop;
    height: $bbox-sh2-desktop;
  }
}

@mixin body-01 {
  font-size: $font-size-body1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-relaxed;
  height: $bbox-body1-mobile;
  
  @include tablet {
    font-size: $font-size-body1-tablet;
    height: $bbox-body1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body1-desktop;
    height: $bbox-body1-desktop;
  }
}

@mixin body-02 {
  font-size: $font-size-body2-mobile;
  font-weight: $font-weight-regular;
  line-height: $line-height-relaxed;
  height: $bbox-body2-mobile;
  
  @include tablet {
    font-size: $font-size-body2-tablet;
    height: $bbox-body2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body2-desktop;
    height: $bbox-body2-desktop;
  }
}

@mixin body-03 {
  font-size: $font-size-body3-mobile;
  font-weight: $font-weight-regular;
  line-height: $line-height-loose;
  height: $bbox-body3-mobile;
  
  @include tablet {
    font-size: $font-size-body3-tablet;
    height: $bbox-body3-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body3-desktop;
    height: $bbox-body3-desktop;
  }
}

@mixin footer-nav {
  font-size: $font-size-footer-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  height: $bbox-footer-mobile;
  
  @include tablet {
    font-size: $font-size-footer-tablet;
    height: $bbox-footer-tablet;
  }
  
  @include desktop {
    font-size: $font-size-footer-desktop;
    height: $bbox-footer-desktop;
  }
}
