/* Concentrix Mixins */

@use './_variables' as *;

/* media Query */
@mixin tablet {
  @media all and (min-width: #{$tab}){
    @content;
  }
}

@mixin desktop {
  @media all and (min-width: #{$pc}){
    @content;
  }
}

// Typography Mixins
@mixin headline-01 {
  font-size: $font-size-h1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  
  @include tablet {
    font-size: $font-size-h1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-h1-desktop;
  }
}

@mixin headline-02 {
  font-size: $font-size-h2-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
  
  @include tablet {
    font-size: $font-size-h2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-h2-desktop;
  }
}

@mixin sub-headline-01 {
  font-size: $font-size-sh1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  
  @include tablet {
    font-size: $font-size-sh1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-sh1-desktop;
  }
}

@mixin sub-headline-02 {
  font-size: $font-size-sh2-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  
  @include tablet {
    font-size: $font-size-sh2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-sh2-desktop;
  }
}

@mixin body-01 {
  font-size: $font-size-body1-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-relaxed;
  
  @include tablet {
    font-size: $font-size-body1-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body1-desktop;
  }
}

@mixin body-02 {
  font-size: $font-size-body2-mobile;
  font-weight: $font-weight-regular;
  line-height: $line-height-relaxed;
  
  @include tablet {
    font-size: $font-size-body2-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body2-desktop;
  }
}

@mixin body-03 {
  font-size: $font-size-body3-mobile;
  font-weight: $font-weight-regular;
  line-height: $line-height-loose;
  
  @include tablet {
    font-size: $font-size-body3-tablet;
  }
  
  @include desktop {
    font-size: $font-size-body3-desktop;
  }
}

@mixin footer-nav {
  font-size: $font-size-footer-mobile;
  font-weight: $font-weight-bold;
  line-height: $line-height-normal;
  
  @include tablet {
    font-size: $font-size-footer-tablet;
  }
  
  @include desktop {
    font-size: $font-size-footer-desktop;
  }
}
