/* Concentrix Variables */

@use './_functions' as *;

/* Colors */
/* Default colors */
$d-white: #fff;
$d-black: #000;
$d-gray: #ccc;

/* Primary Colors */
$p-blue: #003d5b;
$p-dark-blue: #001933;
$p-green: #007380;

/* Secondary colors */
$s-teal: #25e2cc;

/* Accent colors */
$a-pink: #cc3262;
$a-orange: #ff8a00;
$a-yellow: #fbca18;

/* Neutral colors */
$n-gray: #f2f2f2;
$n-dark-gray: #2a2b2c;
$gray-1: #767676;
$gray-2: #cccccc;
$gray-3: #eeeeee;
$gray-4: #a2a2a2;

/* Typography */
/* Font Sizes - Desktop */
$font-size-h1-desktop: rem(90);
$font-size-h2-desktop: rem(64);
$font-size-sh1-desktop: rem(42);
$font-size-sh2-desktop: rem(34);
$font-size-body1-desktop: rem(22);
$font-size-body2-desktop: rem(18);
$font-size-body3-desktop: rem(16);
$font-size-footer-desktop: rem(28);

/* Font Sizes - Tablet */
$font-size-h1-tablet: rem(70);
$font-size-h2-tablet: rem(56);
$font-size-sh1-tablet: rem(32);
$font-size-sh2-tablet: rem(28);
$font-size-body1-tablet: rem(20);
$font-size-body2-tablet: rem(16);
$font-size-body3-tablet: rem(14);
$font-size-footer-tablet: rem(24);

/* Font Sizes - Mobile */
$font-size-h1-mobile: rem(40);
$font-size-h2-mobile: rem(32);
$font-size-sh1-mobile: rem(26);
$font-size-sh2-mobile: rem(22);
$font-size-body1-mobile: rem(18);
$font-size-body2-mobile: rem(16);
$font-size-body3-mobile: rem(14);
$font-size-footer-mobile: rem(18);

/* Font Weights */
$font-weight-bold: 700;
$font-weight-regular: 400;

/* Line Heights */
$line-height-tight: 110%;
$line-height-normal: 120%;
$line-height-relaxed: 140%;
$line-height-loose: 150%;

/* Breakpoints */
$pc: 1480px;
$tab: 768px;
